.textfield {
  width: 35.71rem;
  margin: 1rem 1.7rem;
}

.textfieldmargin {
  margin: 1rem 0;
}

.details {
  margin: 0 0 1.1rem 0;
  font-weight: 400;
  font-size: 1.14rem;
  width: 16.43rem;
}

.divDetails {
  display: flex;
}

.logoDetails {
  margin: 0 0 1.1rem 0;
  font-weight: 400;
  font-size: 1.14rem;
  width: 7rem;
  display: flex;
  justify-content: space-between;
}
.icon {
  color: #c97c68;
}
